<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        News
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-scroll direction="x">
    <!-- <div id="container"> -->
    <ion-card *ngFor="let news of newsList">
      <ion-card-header>
        <ion-card-title>{{news.title}}</ion-card-title>
        <ion-card-subtitle>by {{news.author}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{news.description}}
      </ion-card-content>
    </ion-card>
    <!-- </div> -->
  </ion-scroll>
</ion-content>
<!-- FOOTER FOR PAGE (STAYS THE SAME FOR EACH PAGE) -->
<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button href="../home">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button href="../news"> 
          <ion-icon name="newspaper-outline"></ion-icon>
          <ion-label>News</ion-label>
        </ion-tab-button>
  
        <ion-tab-button href="../weather">
          <ion-icon name="cloud-outline"></ion-icon>
          <ion-label>Weather</ion-label>
        </ion-tab-button>
        
        <ion-tab-button href="../music">
          <ion-icon name="musical-notes-outline"></ion-icon>
          <ion-label>Music</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>