<ion-header>
  <ion-toolbar>
    <ion-title>Weather</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let day of galway">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{day.date}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <br>
            <h2>Weather: {{day.weather_text}}</h2>
            <br>
            <h2>Minimum Temperature: {{day.min_temp}}</h2>
            <h2>Maximum Temperature: {{day.max_temp}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-content>

  <!-- FOOTER FOR PAGE (STAYS THE SAME FOR EACH PAGE) -->
<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button href="../home">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button href="../news"> 
          <ion-icon name="newspaper-outline"></ion-icon>
          <ion-label>News</ion-label>
        </ion-tab-button>
  
        <ion-tab-button href="../weather">
          <ion-icon name="cloud-outline"></ion-icon>
          <ion-label>Weather</ion-label>
        </ion-tab-button>
        
        <ion-tab-button href="../music">
          <ion-icon name="musical-notes-outline"></ion-icon>
          <ion-label>Music</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
